# Virtual Environment
venv/
.env

# DBT
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/

# Data
data/raw/telegram_messages/
data/raw/images/
*.db
*.sqlite

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.python-version

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml